@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: Orbitron;
    src: url('../fonts/orbitron-medium.otf');
}

body, h1, h3, h4, h5
{
	font-family: 'ubuntu';
}

body.modal-open .wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}


.modal-backdrop {background: #f7f7f7;}

.modal-dialog{
	position: absolute;
	left: 50%;
	/*now you must set a margin left under zero - value is a half width your window*/
	margin-left: -312px;
	/*this same situation is with height - example*/
	height: 500px;
	top: 50%;
	margin-top: -250px;
} 

.close {
    font-size: 50px;
    display:block;
}

.modal-body table tr td{             
    border-top: none !important;
}


@media(max-width:768px){
    .unitdashboard-custom-unit-dash{
        padding-top: 8px !important;
        text-align: center;
        color: #8a6d3b;
        font-size: 1.5em !important;
        position: relative;
        z-index: 5;
        background-color: #fcf8e3;
        /*#5cb85c;*/
    }   
        
    .unitdashboard-custom-unitpic{
        height:200px; 
        width:200px; 
        margin-top: 0em !important;
    }

    .objectives-custom-heading,
    .measures-custom-heading{
        padding-top: 30px !important;
        text-align: center;
        font-size: 1em !important;
        position: relative;
    }
    .unitdashboard-custom-unitpic{
        height:200px; 
        width:200px; 
        /*margin-top: 25px !important;*/
    }
    .layout-custom-navbrand{
        display: none;
    }
    .layout-custom-user{
        text-align: center;
        padding-left: 12px;
        background-color: #dff0d8;
        padding: 5px;
        color: #3c763d;
        border-color: #d6e9c6;
    }
    
}
/*
.sidebar{
    overflow: auto;
}*/

@media(min-width:768px){
    .layout-custom-user{
        display: none;
    }
    .nav>li.layout-custom-usernavoptions{
        display: none;
    }
}

.unitdashboard-custom-unit-dash{
    padding-top: 0em;
    font-size: 250%;
    text-align: center;
    color: #8a6d3b;
    background-color: #fcf8e3;
    /*#5cb85c;*/
}   

.unitdashboard-custom-unitpic{
    height:200px; 
    width:200px; 
    margin-top: 3em;
}


a{
    font-family: ubuntu;
}