@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu-R.ttf');
}

@font-face {
    font-family: Orbitron;
    src: url('../fonts/orbitron-medium.otf');
}

body, h1, h3, h4, h5, h6
{
	font-family: 'ubuntu';
}

body.modal-open .wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}


.modal-backdrop {background: #f7f7f7;}


.close {
    font-size: 50px;
    display:block;
}

.modal-body table tr td{             
    border-top: none !important;
}


/* Yujin Custom CSS */

.unitdashboard-custom-unit-activityname,
.unitdashboard-custom-unit-activityabb,
.dashboard-custom-unit-dashname,
.dashboard-custom-unit-dashabb{
    margin-top:.5em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-size: 250%;
    text-align: center;
    color:#8a6d3b;
    background-color: #fcf8e3;
}

.unitdashboard-custom-unitpicabb{
        height:100px !important; 
        width:100px !important; 
        display: inline !important;
        margin-top: 0px;
        margin-bottom: 1em;
}


@media(min-width:768px){
    .nav>li.layout-custom-usernavoptions{
        display: none;
    }
    .unitdashboard-custom-unit-activityabb{
        display: none;
    }
    .unitdashboard-custom-unit-activityabb,
    .layout-custom-unit-pnpabb,
    .dashboard-custom-unit-dashabb{
        display: none;
    }
}



a.navbar-brand{
    color: #fff !important;
}


/* mobile view */


@media(max-width:768px){
    .layout-custom-navbrand{
        display: none;
    }
    .unitdashboard-custom-unit-dashabb{
        padding-top: 8px !important;
        text-align: center;
        color: #8a6d3b;
        font-size: 1.5em !important;
        position: relative;
        z-index: 5;
        background-color:#337ab7;
    }   
    .layout-custom-unit-pnpname,
    .unitdashboard-custom-unit-activityname,
    .dashboard-custom-unit-dashname,
    .unitdashboard-custom-unitpic{
        display: none;
    }
}

@media(max-width: 992px){
    .unitdashboard-custom-unitpic{
        margin-top: 0px !important;
        margin-bottom: 1.5em;
    }
}

@media(max-width: 1200px){
    .unitdashboard-custom-unitpic{
        height:200px; 
        width:200px;
        margin-top: 0px !important;
        margin-bottom: 1.5em;
    }
}

@media(max-width:768px){
        
    .unitdashboard-custom-unitpic{
        height:200px; 
        width:200px; 
        margin-top: 0em !important;
        margin-bottom: 1.5em;
    }

    .objectives-custom-heading,
    .measures-custom-heading{
        padding-top: 30px !important;
        text-align: center;
        font-size: 1em !important;
        position: relative;
    }
    .unitdashboard-custom-unitpic{
        height:200px; 
        width:200px; 
    }
    
}

.unitdashboard-custom-unitpic{
    height:200px; 
    width:200px; 
    margin-top: 2em;
}


.dashboard-custom-unit-dashabb,
.dashboard-custom-unit-dashname{
    box-shadow: 8px 8px 5px #888888;
}




/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/ 
    -webkit-border-radius: 0px;
    background-color:#eee;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background:#666; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


/*

.objective-custom-td1{
    width:35%;
}

.objective-custom-td2,
.objective-custom-td4{
    width:25%;
}

.objective-custom-td3{
    width:10%;
}

.objective-custom-td5{
    width:5%;
}


thead{
    text-align: center;
}

*/


/*rgba(24, 70, 129, 1); - blue*/
/*rgba(34, 34, 34, 1); - black*/
/*rgba(120, 34, 37, 1); - red*/