/* STAFF CSS */

.unit-page-wrapper{
    background-color:rgba(250, 237, 242, 1) !important;
    /* color of the background */
}


/* css for layout */

@media(max-width:768px){
    .layout-custom-username{
        text-align: center;
        padding-left: 12px;
        background-color:#fff;
        padding: 5px;
        color: #782225;
        border-color:#782225;
    }
}

@media(min-width:768px){
    .layout-custom-username{
        display: none;
    }
}

.layout-title-navbar{
    margin-bottom: -3em;  
    background-color:rgba(120, 34, 37, 1);
    border-bottom-color:rgba(120, 34, 37, 1);
}


.sidebar-search{
    background-color:rgba(120, 34, 37, 1) !important;
}

.layout_staff-body{
    background-color: rgba(120, 34, 37, 1);
}


.dropdown-menu>li>a{
    color:#2A363B !important;
}
.dropdown-menu>li>a:hover{
    color:#fff !important;
    background-color:rgba(120, 34, 37, 1) !important;
}


a.layout-custom-navbaruser{
    background-color:rgba(120, 34, 37, 1);
    color:#fff;
    border-color:rgba(120, 34, 37, 1);
}

a.layout-custom-navbaruser:hover{
    color:rgba(120, 34, 37, 1);
    background-color:#fff !important;
}

.sidebar ul li a.active{
    color: rgba(120, 34, 37, 1) !important;
}


a.active{
    background-color: #fff !important;
    color:rgba(120, 34, 37, 1) !important;
}


.nav>li>a{
    background-color: rgba(120, 34, 37, 1);
    color:#fff !important;
}


.nav>li>a:focus, 
.nav>li>a:hover{
    color: rgba(120, 34, 37, 1) !important;
    background-color: #fff;
}

.sidebar ul li{
    border-bottom: none;
}

.sidebar-search{
    background-color: #fff;
}


/* /.css for layout */

thead{
    background-color:rgba(120, 34, 37, 1);
    color: #fff;
}
tr:hover{
    background-color:rgba(120, 34, 37, 0.1);
    
}
